- const primaryClasses = `bg-${palette[0].baseColor.substring(1)} color-${palette[0].contrast.text}`;
ul.palette
  li.colorBlock.primary(class=primaryClasses)
    h1 Headline Here
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores accusamus exercitationem quis hic.
    span= palette[0].baseColor
  each colorObj in palette
    - const colorClasses = `bg-${colorObj.baseColor.substring(1)} color-${colorObj.accentColor.substring(1)}`;
    li.colorBlock(class=colorClasses, data-color=colorObj.accentColor)
      span.colorText Aa
      ul.contrastList
        each guideline, key in colorObj.contrastGuidelines
          li= (guideline) ? '●' : '○'
